<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sg0.baddytally">

    <application
        android:name=".ScoreTally"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/birdie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/birdie"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true" />
        <activity
            android:name=".EnterData"
            android:noHistory="true" />
        <activity android:name=".Summary" />
        <activity android:name=".Settings" />
        <activity
            android:name=".TournaMainActivity"
            android:noHistory="true" />
        <activity
            android:name=".TournaEnterData"
            android:noHistory="true" />
        <activity
            android:name=".TournaBaseEnterData"
            android:noHistory="true" />
        <activity
            android:name=".TournaSettings"
            android:noHistory="true" />
        <activity
            android:name=".TournaSummary"
            android:noHistory="false" />
        <activity
            android:name=".TournaTable"
            android:noHistory="false" />
    </application>

</manifest>