<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sg0.baddytally">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ScoreTally"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/birdie002"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/birdie002_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <activity
            android:name=".MainSigninActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainSelection2"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".ClubLeagueActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true" />
        <activity
            android:name=".EnterData"
            android:noHistory="true" />
        <activity android:name=".Summary" />
        <activity android:name=".Settings"
            android:noHistory="true"/>
        <activity
            android:name=".TournaLanding"
            android:noHistory="true"
            android:label="ST Active tournaments">
        </activity>
        <activity
            android:name=".TournaLeague" />
        <activity
            android:name=".TournaLeagueEnterData"
            android:noHistory="true" />
        <activity
            android:name=".TournaBaseEnterData"
            android:noHistory="true" />
        <activity
            android:name=".TournaSettings"
            android:noHistory="true" />
        <activity
            android:name=".TournaSummary"
            android:noHistory="false" />
        <activity
            android:name=".TournaTableLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TournaSeeding"
            android:noHistory="true" />
    </application>

</manifest>